.img__anim {
    &--cadre {
        overflow: hidden;
    }
    img {
        transform: scale(1);
        transform-property: transform;
        transition-duration: 400ms;
        &:hover {
            transform: scale(1.2);
        }
    }   
}