@import 'variables';
@import 'mixins';
@import 'animations';
@import '../boostrap/bootstrap.scss';


.nav{
    &__bg--orinoco {
        background: $orange;
        background: $deg;
    }
    &__logo {
        width: 2rem;
        &--name {
            font-family: $brand-name;
        }
    }
}

.carousel{
    border: solid 1px;
    border-image-slice: 1;
    border-width: 8px;
    border-image-source: $deg;
    display: flex;
    &__main {
    padding: 0;
    margin-top: 30px;
    box-shadow: 4px 4px 10px 0px #787878;
    }
    h5 {
        color: $violet;
        font-size: 1.8rem;
        font-weight: 900;
        text-shadow: 1px 1px 2px #414141;
    }
    p {
        font-size: 1.3rem;
        font-weight: 700;
        color: #FFF;
        text-shadow: 1px 1px 2px #414141;
    }
}

h3 {
    margin: 80px 0;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    color: $violet;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $orange;
    background: $deg;
    a {
        color: #fff;
        &:hover {
            color: $violet;
            text-decoration: none;
        }
    }
}

.item {
    border: solid 1px;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: $deg;
    img {
        width: 100%;
        padding: 15px 0;
    }
    .text {
        padding: 20px;
        span {
            text-decoration: underline;
        }
    }
    h5 {
        color: $violet;
        font-weight: 700;
    }
    &__tarifs {
        padding-left: 20px;
        p {
            margin: 0;
            span {
                color: $orange;
                font-weight: 700;
                font-size: 2rem;
            }
        }
    }
    &__perso {
        color: $violet;
        margin-top: 20px;
    }
    &__quantity {
        color: $violet;
        margin-top: 20px;
    }
}
.modal-title {
    color: $orange;
    font-size: 3rem;
    font-weight: 900;
}

// panier.html
.cart {
    &__container {
        margin-top: 80px;
    }
    &__select {
        border: solid 1px;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: $deg;
        height: 600px;
    }
    &__price {
        border: solid 1px;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: $deg;
        height: 600px;
    }
    &__button {
        margin-top: 30px;
        button:nth-child(1) {
        margin-right: 10px;
        }
    }
    &__col {
        padding: 0;
    }
}